body, html {
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    
}


.bg{
    background-image: url("images/pic0.jpg");
    height: 75%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

.div1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div1 h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.button1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button1:hover{
    cursor: pointer
}
.button1 {
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #fff;
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 20px;
}

.div2{
    padding-top: 20px;
}

.div3{
    margin-left: 100px;
}

.div3 div{
    padding-top: 40px;
    display: inline-block;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    margin: 10px 0px;
}

.div3 div{
    width: 400px;
    align-items: center;
}


.div4 .img-d{
    height: 300px;
}

.div4 {
    position: relative;
}

.div4 h2 {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
}



.div4 button{
    background: transparent; outline: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 20px;
}
.div4 button:hover{
    cursor: pointer
}

